<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Courses</title>

<link rel="stylesheet" th:href="@{/CSS/style.css}">

</head>

<body>

<div class="container">

<h2>Course Management</h2>

<div class="top-bar">

<a th:href="@{/courses/new}" class="btn">
Add Course
</a>

<a th:href="@{/students}" class="btn">
Students
</a>

</div>

<table>

<tr>

<th>ID</th>

<th>Course Name</th>

<th>Action</th>

</tr>

<tr th:each="course : ${courses}">

<td th:text="${course.coursesId}"></td>

<td th:text="${course.coursesName}"></td>

<td>

<a th:href="@{/courses/edit/{id}(id=${course.coursesId})}" class="edit">
Edit
</a>

<a th:href="@{/courses/delete/{id}(id=${course.coursesId})}"
class="delete"
onclick="return confirm('Delete Course?')">

Delete

</a>

</td>

</tr>

</table>

</div>

</body>

</html>