<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Course Form</title>

<link rel="stylesheet" th:href="@{/CSS/style.css}">

</head>

<body>

<div class="container">

<h2>Add Course</h2>

<form th:action="@{/courses}" th:object="${courses}" method="post">

<input type="hidden" th:field="*{coursesId}">

<label>Course Name</label>

<input type="text" th:field="*{coursesName}" required>

<button type="submit">

Save Course

</button>

</form>

</div>

</body>

</html>