*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#eef2f7;
padding:40px;
}

.container{
width:80%;
margin:auto;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 15px rgba(0,0,0,.15);
}

h2{
text-align:center;
margin-bottom:20px;
color:#333;
}

.top-bar{
margin-bottom:20px;
display:flex;
justify-content:space-between;
}

.btn{
background:#0d6efd;
color:white;
padding:10px 18px;
text-decoration:none;
border-radius:5px;
}

.btn:hover{
background:#0b5ed7;
}

table{
width:100%;
border-collapse:collapse;
margin-top:10px;
}

table th{
background:#0d6efd;
color:white;
padding:12px;
}

table td{
padding:12px;
text-align:center;
border:1px solid #ddd;
}

tr:nth-child(even){
background:#f8f9fa;
}

input,
select{
width:100%;
padding:10px;
margin:8px 0 15px;
border:1px solid #ccc;
border-radius:5px;
font-size:15px;
}

button{
background:#198754;
color:white;
padding:12px;
border:none;
border-radius:5px;
cursor:pointer;
width:100%;
font-size:16px;
}

button:hover{
background:#157347;
}

.edit{
color:#0d6efd;
text-decoration:none;
margin-right:10px;
}

.delete{
color:red;
text-decoration:none;
}

.edit:hover,
.delete:hover{
text-decoration:underline;
}